node_modules/
blog/node_modules/
blog/package-lock.json
site/
site/*
pi_smart_camper.egg-info/
Pipfile.lock
build/
dist/
*/__pycache__/
modules/__pycache__/
modules/__pycache__/*
*/__pycache__/*
*.pyc
/webcam/*
.vscode/
