cachetools>=3.1.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
colorzero==1.1
fake-rpi>=0.6.2
Flask==1.1.1
gpiozero==1.5.1
idna==2.9
ipinfo==3.0.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
numpy>=1.16.6
requests==2.23.0
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.0
PlexAPI==3.5.0