{% extends "base.html" %}
{% block title %}Hello!{% endblock %}

{% block main %}
     <div id="current-weather">
      <h1>{{ weather.name }} weather</h1>
      <div class="flex-container main-weather">
         <img src="https://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/{{ weather.weather.0.icon }}.png" >
         <span>{{ weather.main.temp|round|int }}&#176; &amp; {{ weather.weather.0.main }} </span>
      </div>
      <dl class="flex-container weather-details">
         <dt>Feels like</dt>
         <dd>{{ weather.main.feels_like|round|int }}&#176;</dd>
         <dt>Today's high</dt>
         <dd>{{ weather.main.temp_max|round|int }}&#176;</dd>
         <dt>Today's low</dt>
         <dd>{{ weather.main.temp_min|round|int }}&#176;</dd>
         <dt>Humidity</dt>
         <dd>{{ weather.main.humidity }}%</dd>
         <dt>Wind speed</dt>
         <dd>{{ weather.wind.speed|round|int }} mph</dd>
      </dl>
     </div>
     <div>
      <h1>Camera status</h1>
      <h2>The camera is currently {{ cam_status }}</h2>

      <form action="{{ url_for('camera_action') }}" method="GET" class="wrap">
        <input type="checkbox" onchange="this.form.submit()" name="cam-status" id="cam-status" {% if cam_status == 'on' %}checked{% endif %} />
        <label class="slider-v1" for="cam-status"></label>
      </form>
   </div>
   <div>
      <h1>Wifi Status</h1>
      <h3>Strength:</h3>
      <meter max="{{ wifi.signal_total }}" value="{{ wifi.signal_quality }}" title="{{ wifi.essid }}">
         <div class="fallback-meter">
            <span style="width: {{ wifi.signal_quality }}">{{ wifi.signal_quality }}%</span>
          </div>
      </meter>

      <small>Current network: {{ wifi.essid }}</small>
   </div>
     <div>
        <div id="time-div">
            <h2>It's {{ current_time.strftime('%-I:%M %p') }}</h2>
            <h3>{{ current_time.strftime('%B %d') }}</h3>
         </div>
        {% if message %}
        <h2>{{ message }}</h2>
        {% else %}
         <p>You have no messages</p>
        {% endif %}
     </div>

   <script>
      function display_time() {
         var today = new Date();
         var options = { month: 'long'};
         var month = new Intl.DateTimeFormat('en-US', options).format(today);
         var date = today.getDate()
         
         var raw_hours = today.getHours()
         var hour = raw_hours > 12 ? raw_hours - 12 : raw_hours;
         var minute = String(today.getMinutes()).padStart(2, "0");
         var ampm = raw_hours >= 12 ? 'PM' : 'AM';
         
         document.getElementById('time-div').innerHTML =
            "<h2>It's " + hour + ':' + minute + ' ' + ampm + "</h2>" +
            "<h3>" + month + ' ' + date + "</h3>"
      }
      setInterval(display_time, 2000);
   </script>
   {% endblock %}