<html>
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
     body {
       font: 1rem Helvetica, Arial;
       color: #222;
     }
     button {
       font-size: 150%;
     }
     button a {
        color: DarkSlateBlue;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 1px 2px #def, 0 0 0 #000, 1px 1px 2px #def
     }
  </style>
</head>
<body>
   
    {% if cam_thread %}
        <h1>The camera is currently on</h1>
        <button><a href="/camera/off">Turn it off</a></button>
    {% else %}
        <h1>The camera is currently off</h1>
        <button><a href="/camera/on">Turn it on</a></button>
    {% endif %}
    <hr>
    <pre>
        {% if message %}
        <h2>{{ message }}</h2>
        {% endif %}
    </pre>

    <h2>GPIO</h2>
   {% for pin in pins %}
   <h2>{{ pins[pin].name }}
   {% if pins[pin].state == true %}
      is currently <strong>on</strong></h2><div class="row"><div class="col-md-2">
      <a href="/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a></div></div>
   {% else %}
      is currently <strong>off</strong></h2><div class="row"><div class="col-md-2">
      <a href="/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a></div></div>
   {% endif %}
   {% endfor %}
    
</body>
</html>